* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  max-width: 100%;
}

pre {
  background-color: rgb(242, 242, 242);
  padding: 1rem;
  border-radius: 3px;
  overflow: scroll;
}

p {
  line-height: 1.5;
}

.external-link {
  color: blue;
  margin: 0.3rem 0;
  display: inline-block;
}

.root {
  height: 100%;
}

:root {
  --main-color: #45c88a;
  --secondary-color: #26485b;
  --header-color: #1d1d1d;
  --frontpage-text-color: #fff;
  --dark-color: #2d2d2d;
  --light-green: #6afcac;
}
